@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;600&display=swap');


.card{
    
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image:linear-gradient(#ffafbd,#ffc3a0);
    
}
.card h1{
    font-size: 3rem;
    margin-top: 3rem;
    font-weight: bold;
    text-shadow: 0px 11px 10px rgba(81,67,21,0.6);

}
.card-content{
    width: 65rem;
    display: flex;
    gap:3rem;
    /* justify-content: center; */
    flex-wrap: wrap;
    background-image:linear-gradient(#ffafbd,#ffc3a0);
    
}
.cardItem{
    width: 19rem;
    height: 35rem;
    
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-bottom: 2rem;
    margin-top: 3rem;
    transition: all 1s ease;
    border-radius: 4rem;
    background-color: white;
    justify-content: center;
    align-items: center;


}
.cardItem img{
    width: 100%;
    height: 304px;
}
.cardItem:hover{
    cursor: pointer;
    transform: translateY(-10px);
}
.cardItem-text{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 1rem;
    padding: 1rem;
}
.cardItem-text>span:nth-child(1){
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}
.cardItem-text>span:nth-child(2){
    font-family: 'Oswald', sans-serif;
}



/* ..........media quiry............... */
@media screen and (min-width:0px) and (max-width:480px){
    .card{
        max-width:480px;
        height: auto;
        
        
    }
    .card h1{
        padding: 0 2rem;
        font-size: 2rem;
    }
    .card-content{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        max-width: 322px;
        
    }
    
   
    

   
}
@media screen and (min-width:481px) and (max-width:768px){
    .card{
        max-width:768px;
        height: auto;
        
    }
    .card-content{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        max-width: 480px;
    }

}

@media screen and (min-width:769px) and (max-width:1024px){
    .card{
        max-width:1024px;
       height: auto;
    }
    .card-content{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        max-width: 768px;
    }
}
@media screen and (min-width:1025px) and (max-width:1200px){
    .card{
        max-width:1200px;
        height: auto;
    }
    .card-content{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        max-width: 768px;
    }
    

}
@media screen and (min-width:1201px){
    .card{
        min-width: auto;
        height: auto;
    }
    



}